.currencyConverterContainer {
  padding: 40px 48px;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 445px;
}

.recipientGets {
  margin-top: 40px;
}

.arriveHint {
  margin-top: 15px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .currencyConverterContainer {
    padding: 20px 24px;
    width: 100%;
  }
}