.currencyConverterContainer {
  padding: 40px 48px;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 445px;
}

.recipientGets {
  margin-top: 40px;
}

.additionalFieldWithAccordion {
  align-items: baseline !important;

  .divider {
    padding-bottom: 4px;
  }
}

.arriveHint {
  margin-top: 15px;
  margin-bottom: 25px;
}