.layout {
  background-color: #F6F6F6;
  padding: 86px 0;
  gap: 116px;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    background: url('rectangles.svg') no-repeat left center;
    background-size: contain;
    z-index: -1;
  }
}

.titleLayout {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  width: 360px;
}

.cards {
  display: flex;
  gap: 32px;
}

.cardLayout {
  width: 190px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.cardBlack {
  background-color: #2D2D2D;
}

.cardWhite {
  background-color: #FFFFFF;
}

.cardNumber {
  border-radius: 38px;
  background: #F85C3A;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}