.layout {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.title {
  margin-bottom: 67px;
}

.backquotes {
  position: absolute;
  top: -14px;
  left: 40px;
  background-color: #FFFFFF;
  padding: 4px;
  z-index: 10;
}

.card {
  position: relative;
  width: 80%;
  min-height: 206px;
  border-radius: 20px;
  border: 2px solid #E9E9E9;
  background: #FFF;
  padding: 36px 40px;
  display: flex;
  flex-direction: column;
}

.cardName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardCountry {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardReview {
  text-align: left;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .layout {
    margin-top: 100px;
  }

  .card {
    width: 100%;
    padding: 16px 20px;
  }
}