.headerSection {
  padding-top: 1.875rem;
  width: 50%;
}

.contentContainer {
  margin-top: 4.5rem;
  position: relative;
}

.contentDescription {
  margin-top: 1.25rem;
}

@media (max-width: 768px) {
  .headerSection {
    width: 100%;
  }
}