.layout {
  margin: 176px 165px 0 165px;
}

.accordionContainer {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contentLayout {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1024px) {
  .layout {
    margin: 100px 15px 0 15px;
  }
}