.headerActions {
  display: flex;
  top: 30px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  right: 0;
  left: 0;
  padding: 0 165px;
  width: 100%;
  z-index: 30;

  .burgerMenu {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  .quickActions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}


@media (max-width: 1024px) {
  .headerActions {
    padding: 0 25px;

    .quickActions {
      display: none;
    }
  }
}