.header {
  display: flex;
  height: 700px;
  background-color: #F85C3A;
  padding-top: 120px;
  align-items: center;
  padding-left: 165px;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    background: url('rectangles.svg') no-repeat right center;
    background-size: contain;
    z-index: -1;
  }
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  margin-top: 30px;
  width: 424px;
}

.iphone {
  bottom: -100px;
  position: absolute;
  right: 250px;
  z-index: 50;
}

.ellipseSm {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .header {
    padding-left: 0;
    padding-top: 150px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    text-align: left;
  }

  .text {
    width: 100%;
  }

  .iphone {
    position: relative;
    bottom: 20px;
    right: 0;
    margin-top: 50px;
  }

  .ellipseLg {
    width: 82px;
    height: 82px;
  }

  .ellipseMd {
    width: 52px;
    height: 52px;
  }

  .iphoneImg {
    width: 150px;
    height: 300px;
  }

  .ipadImg {
    width: 318px;
    height: 458px;
    margin-left: 50px;
  }

  .ellipseSm {
    display: none;
  }

}