.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin: 200px 165px 0 165px;
}

.infoLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

@media (max-width: 1024px) {
  .layout {
    margin: 100px 15px 15px 0;
    gap: 25px;
  }

  .infoLayout {
    width: 90%;
  }
}