.weightLight {
  font-weight: 300;
}

.weightNormal {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightSemibold {
  font-weight: 600;
}

.weightBold {
  font-weight: 700;
}

.colorWhite {
  color: #FFFFFF;
}

.colorBlack {
  color: #2D2D2D;
}

.colorRed {
  color: #f00;
}

.colorGrey {
  color: #9E9E9E
}

.sizeExtaLarge {
  font-size: 1.5rem;
}

.sizeLarge {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .sizeExtaLarge {
    font-size: 0.875rem;
  }

  .sizeLarge {
    font-size: 0.875rem;
  }
}

.sizeBase {
  font-size: 0.875rem;
}

.sizeSmall {
  font-size: 0.75rem;
}