.presentation {
  background-color: #F85C3A;
  padding-left: 10.3rem;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 142vh;
    background: url('presentation-rectangles.svg') no-repeat left center;
    background-size: contain;
    z-index: -1;
  }
}