.layout {
  margin-top: 189px;
}

.titleLayout {
  margin: 0 165px;
}

.stepsLayout {
  margin-top: 100px;
  padding: 0 165px;
  background-color: #F6F6F6;
  height: 230px;
  width: 100%;
  position: relative;
}

.cards {
  top: -60px;
  display: flex;
  gap: 30px;
  position: absolute;
}

.cardLayout {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
  width: 255px;
  height: 233px;
  transition: all 500ms ease-in-out;

  &:hover {
    background-color: #2D2D2D;
    .text {
      color: #FFFFFF;
    }
  }
}

.cardNumber {
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 100%;
  background-color: #F85C3A;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}