.layout {
  padding: 68px 165px 28px 165px;
  background-color: #2D2D2D;
  z-index: 30;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}

.companyInfoLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.companyText {
  width: 500px;
}

.socialsLayout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.socialGroups {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.linkedinGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.address {
  width: 263px;
}

.linkedin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.divider {
  margin-top: 26px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.20);
}

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 6px;
}

.navigation {
  transition: ease-in-out 0.5s;

  &:hover {
    color: #F85C3A;
  }
}

.rights {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navMenu {
  display: flex;
  gap: 130px;
}

.guidelinesMobile {
  display: none;
}

@media (max-width: 768px) {
  .logoLink {
    margin-left: -8px;
  }

  .menu {
    gap: 26px;
  }

  .navMenu {
    gap: 12px;
    justify-content: space-between;
  }

  .guidelinesMobile {
    display: block;
  }

  .guidelines {
    display: none;
  }

  .socialGroups {
    margin-top: 20px;
  }

  .socialsLayout {
    flex-direction: column;
    align-items: start;
  }

  .layout {
    padding: 68px 15px 28px 15px;
  }

  .logo {
    gap: 10px;
  }

  .companyText {
    width: 100%;
  }
}