.background {
  background-color: #2D2D2D;
}

.layout {
  padding-top: 44px;
  padding-bottom: 36px;
  width: 84%;
  margin: 0 auto;
  z-index: 30;
}

.logo {
  display: flex;
  align-items: center;
  gap: 45px;
}

.companyInfoLayout {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyText {
  width: 100%;
  max-width: 579px;
}

.socialsLayout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px;
}

.socialGroups {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.linkedinGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.address {
  width: 100%;
  opacity: 0.8;
}

.linkedin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.divider {
  margin: 38px 0;
  background: rgba(255, 255, 255, 0.20);
}

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 10px;
}

.navigation {
  transition: ease-in-out 0.5s;
  opacity: 0.8;

  &:hover {
    color: #F85C3A;
  }
}

.rights {
  text-align: center;
}

.menu {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  position: relative;
}

.footerBanner {
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.navMenu {
  display: flex;
  gap: 60px;
}

.guidelinesMobile {
  display: none;
}

.office {
  width: 30%;
}

@media (max-width: 1340px) {
  .companyInfoLayout {
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .logoLink {
  }

  .footerBanner {
    display: none;
  }

  .menu {
    gap: 26px;
  }

  .navMenu {
    gap: 12px;
    justify-content: space-between;
  }

  .guidelinesMobile {
    display: block;
  }

  .guidelines {
    display: none;
  }

  .socialGroups {
    margin-top: 20px;
  }

  .socialsLayout {
    flex-direction: column;
    align-items: start;
  }

  .layout {
    width: 100%;
    margin: 0;
    padding: 68px 15px 28px 15px;
  }

  .logo {
    gap: 10px;
  }

  .companyText {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .logo {
    flex-wrap: wrap;
  }

  .office {
    width: 100%;
  }

  .navMenu {
    width: 100%;
  }
}