.divider {
  margin-top: 84px;
  margin-bottom: 24px;
  background-color: #F85C3A;
  width: 64px;
  height: 6px;
  border-radius: 6px;
}

.title {
  white-space: nowrap;
}

.background {
  background-color: #F6F6F6;
}

.layout {
  margin-top: 114px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
}

.cardLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 35px;
  margin-top: 60px;
  margin-bottom: 200px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.cardInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardDescContainer {
  width: 100%;
}

@media (max-width: 1024px) {
  .cardLayout {
    margin-bottom: 120px;
    flex-direction: column;
  }
}