.inputEl {
  background: transparent;
  color: #2D2D2D;
  border: none;
  outline: none;
  font-family: Montserrat, Montserrat Fallback, sans-serif;
}

.sizeBase {
  font-size: 0.875rem;
}

.sizeSm {
  font-size: 0.75rem;
}

.inputContainer {
  background-color: #FFF;
  border-radius: 62px;
  padding: 14px 20px;
}

.time {
  width: 200px;
}

.inputBorderDefault {
  border: 1px solid #DCDCDC;
}

.inputBorderError {
  border: 1px solid #f00;
}

.hideErrorText {
  display: none;
}

.widthFull {
  width: 100%;
}

.widthMax {
  width: max-content;
}