.textarea {
  border-radius: 25px;
  border: 1px solid #DCDCDC;
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
  width: 350px;
  height: 190px;
  flex-shrink: 0;
  resize: none;
  outline: none;
  padding: 14px;
  color: #2D2D2D;
}

.sizeBase {
  font-size: 0.875rem;
}

.sizeSm {
  font-size: 0.75rem;
}

.fullWidth {
  width: 100%;
}

.resizable {
  height: 100px;
  resize: vertical;
}

.errorIntent {
  border: 1px solid #f00;
}