.layout {
  padding: 80px 165px 0 165px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .layout {
    padding: 50px 15px 0 15px;
  }

  .title {
    font-size: 1.5rem !important;
  }

  .download {
    flex-direction: column-reverse;
    align-items: start;
    gap: 30px;
  }
}