.title {
  line-height: 106.8%;
}

.levelOne {
  font-size: 3.125rem;
}

.levelTwo {
  font-size: 2.5rem;
}

.levelThree {
  font-size: 2rem;
}

.levelFour {
  font-size: 1.5rem;
}

.levelFive {
  font-size: 1.25rem;
}

.colorWhite {
  color: #FFFFFF;
}

.colorBlack {
  color: #2D2D2D;
}

.weightBold {
  font-weight: 600;
}

.weightSemibold {
  font-weight: 600;
}

.weightMedium {
  font-weight: 500;
}

.weightNormal {
  font-weight: 400;
}

.weightLight {
  font-weight: 300;
}