.title {
  line-height: 106.8%;
}

.levelZero {
  font-size: 4rem;
}

.levelOne {
  font-size: 3.125rem;
}

.levelTwo {
  font-size: 2.5rem;
}

.levelThree {
  font-size: 2rem;
}

.levelFour {
  font-size: 1.5rem;
}

.levelFive {
  font-size: 1.25rem;
}

.colorWhite {
  color: #FFFFFF;
}

.colorBlack {
  color: #2D2D2D;
}

.colorOrange {
  color: #F85C3A;
}

.weightBold {
  font-weight: 700;
}

.weightSemibold {
  font-weight: 600;
}

.weightMedium {
  font-weight: 500;
}

.weightNormal {
  font-weight: 400;
}

.weightLight {
  font-weight: 300;
}

@media (max-width: 768px) {
  .levelZero {
    font-size: 2rem;
  }

  .levelOne {
    font-size: 1.5rem;
  }

  .levelThree {
    font-size: 1.5rem;
  }

  .levelTwo {
    font-size: 1.5rem;
  }

  .levelFour {
    font-size: 0.875rem !important;
  }

  .levelFive {
    font-size: 0.875rem !important;
  }
}