.inputEl {
  background: transparent;
  color: #2D2D2D;
  border: none;
  outline: none;
  font-size: 0.875rem;
  font-family: Montserrat, Montserrat Fallback, sans-serif;
  width: max-content;
}

.inputContainer {
  background-color: #FFF;
  border-radius: 62px;
  padding: 14px 20px;
}

.inputBorderDefault {
  border: 1px solid #DCDCDC;
}

.inputBorderError {
  border: 1px solid #f00;
}
